#editarPerfil{
    display: flex;
    background-color: var(--grayscale-cor-2);

}
/* SECTION */

#editarPerfil .adminPerfil_Secao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#editarPerfil .adminPerfil_Secao H1 {
    font-size: 60px;
    font-family: var(--font-2);
    color: var(--principal-cor-3);
    text-transform: uppercase;
}

#editarPerfil .adminPerfil {
    width: 80%;
    background-color: var(--grayscale-cor-3);
    display: flex;
    justify-content: center;
    align-items: center;
}

#editarPerfil .adminPerfil_Secao {
    background-color: var(--grayscale-cor-3);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;

}

#editarPerfil .adminPerfil_texto_imagem {
    display: flex;
    gap: 50px;
}

#editarPerfil .user_config {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#editarPerfil .admin_FotoPadrao {
    height: 155px;
    width: 151px;
    border: 1px solid var(--principal-cor-3);
    border-radius: 100%
}

#editarPerfil .admin_engrenagem {
    position: absolute;
    right: -10px;
    bottom: 6px;
    fill: var(--principal-cor-3);
    width: 25px;
    height: 25px;

}

#editarPerfil .texto_perfil {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: -20px;

}


#editarPerfil .texto_perfil p {
    font-size: 10px;
    font-family: var(--font-2);
    color: var(--principal-cor-3);

}

#editarPerfil .primeira_linha {
    display: flex;
    gap: 10px;

}

#editarPerfil .centralizar {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 580px;

}

#editarPerfil .posicao_linha {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

#editarPerfil .segunda_linha {
    display: flex;
    gap: 10px;

}

#editarPerfil .terceira_linha {
    display: flex;
    gap: 10px;

}

#editarPerfil .quarta_linha {
    display: flex;
    gap: 30px;
    align-items: center;
}

#editarPerfil .input {
    display: flex;
    flex-direction: column;
    border-radius: 18px;


}

#editarPerfil .input1 {
    flex: 2;

}

#editarPerfil .input2 {
    flex: 1;
}

#editarPerfil .input3,
#editarPerfil .input4,
#editarPerfil .input5 {
    flex: 1;
}

#editarPerfil .input6,
#editarPerfil .input7 {
    flex: 1;
}

#editarPerfil .input8 {
    width: 70%;
}

#editarPerfil .input_caixa {
    border-radius: 8px;
    height: 30px;
    border: 1px solid var(--principal-cor-3);
    background-color: var(--grayscale-cor-3);
}

#editarPerfil .input label {
    text-transform: uppercase;
    color: var(--principal-cor-3);
    font-size: 12px;
}

#editarPerfil .button_salvar {
    width: 70%;
    display: flex;
    align-items: center;
    padding-top: 12px;

}

#editarPerfil .button_salvar button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 8px;
    background-color: var(--principal-cor-3);
    font-family: var(--font-2);
    font-size: 18px;
    color: var(--grayscale-cor-3);
    border: none;
    box-shadow: 2px 3px 5px #888888;

}

#editarPerfil .posicionamento_alterar {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
    align-items: center;
}

#editarPerfil .senha {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#editarPerfil .senha_antiga {
    display: flex;
    flex-direction: column;
}

#editarPerfil .senha_nova {
    display: flex;
    flex-direction: column;

}

#editarPerfil .texto_senha {
    width: 180px;
    font-family: var(--font-2);
    font-size: 7px;
    color: var(--auxiliar-cor-6);
}

#editarPerfil .input_senha,
#editarPerfil .input_senha2 {
    width: 180px;
    border-radius: 8px;
    height: 30px;
    border: 1px solid var(--principal-cor-3);
    background-color: var(--grayscale-cor-3);
}

#editarPerfil .senha label {
    text-transform: uppercase;
    color: var(--principal-cor-3);
    font-size: 12px;
}

#editarPerfil .button_alterar button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 8px;
    background-color: var(--principal-cor-3);
    font-family: var(--font-2);
    font-size: 18px;
    color: var(--grayscale-cor-3);
    border: none;
    box-shadow: 2px 3px 5px #888888;


}

#editarPerfil .button_alterar {
    width: 90%;
    display: flex;
    align-items: center;
    padding-top: 12px;

}

#editarPerfil h2 {
    text-transform: uppercase;
    font-size: 20px;
    font-family: var(--font-2);
    color: var(--principal-cor-3);
}

#editarPerfil ::placeholder,
#editarPerfil .input_caixa {
    padding: 0 15px;
}

@media screen and (max-width: 1200px) {
    
 /*SECTION*/

 #editarPerfil .adminPerfil_Secao {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    min-height: 100vh;
}

#editarPerfil .adminPerfil_Secao H1 {
    font-size: 40px;
    margin-top: 10px;

}

#editarPerfil .admin_FotoPadrao {
    height: 105px;
    width: 101px;
}

#editarPerfil .texto_perfil {
    display: flex;
    flex-direction: column;
    width: 38%;
    margin-top: -10px;
}

#editarPerfil .texto_perfil p {
    font-size: 9px;
}



#editarPerfil .adminPerfil_texto_imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;

}

#editarPerfil .centralizar {
    gap: 20px;

}

#editarPerfil .posicao_linha {
    gap: 10px;
}

#editarPerfil .adminPerfil_texto_imagem {
    gap: 5px;

}

#editarPerfil .input_caixa {
    height: 25px;

}

#editarPerfil .button_entrar {
    padding-top: 2px;

}

#editarPerfil .button_sair {
    padding-top: 2px;
}

#editarPerfil .button_entrar button {
    height: 25px;
    font-size: 16px;
}

#editarPerfil .button_sair button {
    height: 25px;
    font-size: 16px;
}

#editarPerfil .posicionamento_alterar {
    gap: 2px;

}

#editarPerfil .input_senha,
#editarPerfil .input_senha2 {
    height: 25px;
}

#editarPerfil .button_alterar {
    padding-top: none;

}

#editarPerfil .button_alterar button {
    height: 25px;

}

}



@media screen and (max-width: 900px) {

/*SECTION*/

#editarPerfil .adminPerfil_Secao H1 {
    font-size: 35px;
    margin-top: 20px;

}

}


@media screen and (max-width:768px) {

     /*SECTION*/

     #editarPerfil .adminPerfil {
        width: 100%;
    }

    #editarPerfil .adminPerfil_Secao {
        gap: 5px;
    }

    #editarPerfil .adminPerfil_Secao H1 {
        font-size: 30px;
        margin-top: 20px;

    }

    #editarPerfil .admin_FotoPadrao {
        height: 115px;
        width: 111px;
    }

    #editarPerfil .texto_perfil {
        width: 38%;
        margin-top: 0px;
    }
}


@media screen and (max-width: 500px) {

    /*SECTION*/

    #editarPerfil .adminPerfil_Secao {
        gap: 2px;
    }

    #editarPerfil .adminPerfil_Secao H1 {
        font-size: 28px;
       
    }


    #editarPerfil .admin_FotoPadrao {
        height: 75px;
        width: 71px;
    }

    #editarPerfil .texto_perfil {
        width: 47%;
        margin-top: 1px;
    }

    #editarPerfil .texto_perfil p {
        font-size: 7px;

    }

    #editarPerfil .adminPerfil_texto_imagem {
        gap: 2px;
    }

    #editarPerfil .centralizar {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 380px;
    }

    #editarPerfil .posicao_linha {
        display: flex;
        flex-direction: column;
        gap: 1px;
        width: 100%;
    }

    #editarPerfil .primeira_linha {
        display: flex;
        gap: 5px;
        flex-direction: column;
    }

    #editarPerfil .segunda_linha {
        display: flex;
        gap: 5px;
        flex-direction: column
    }

    #editarPerfil .terceira_linha {
        display: flex;
        gap: 5px;
        flex-direction: column;
    }

    #editarPerfil .quarta_linha {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    #editarPerfil .input4,
    #editarPerfil .input5 {
        flex: 1;
    }

    #editarPerfil .input8 {
        width: 100%;
    }

    #editarPerfil .button_salvar {
        width: 50%;

    }

    #editarPerfil .button_salvar button {
        height: 25px;
    }


    #editarPerfil .posicionamento_alterar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1px;
    }

    #editarPerfil .button_alterar {
        width: 100%;
        padding-top: 1px
    }

    #editarPerfil .senha {
        gap: 5px;
    }

    #editarPerfil .input_senha, #editarPerfil .input_senha2 {
        width: 100%;
    }


}



@media screen and (max-width: 400px) {

    /*SECTION*/

    #editarPerfil .centralizar {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 300px;
    }




}