#cadastrarGestor {
    display: flex;
    height: 100%;
    background-color: var(--grayscale-cor-2);

}



#cadastrarGestor .adminCadastroGestor_Secao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cadastrarGestor .adminCadastroGestor_Secao H1 {
    font-size: 60px;
    font-family: var(--font-2);
    color: var(--principal-cor-3);
    text-transform: uppercase;
}

#cadastrarGestor .adminCadastroGestor {
    width: 80%;
    background-color: var(--grayscale-cor-3);
    display: flex;
    justify-content: center;
    align-items: center;
}

#cadastrarGestor .adminCadastroGestor_Secao {
    background-color: var(--grayscale-cor-3);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;

}

#cadastrarGestor .adminCadastroGestor_texto_imagem {
    display: flex;
    gap: 50px;
}

#cadastrarGestor .user_config {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#cadastrarGestor .admin_FotoPadrao {
    height: 175px;
    width: 171px;
    border: 3px solid var(--principal-cor-3);
    border-radius: 100%
}

#cadastrarGestor .admin_engrenagem {
    position: absolute;
    right: -10px;
    bottom: 6px;
    fill: var(--principal-cor-3);
    width: 25px;
    height: 25px;

}

#cadastrarGestor .texto_perfil {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: -20px;

}


#cadastrarGestor .texto_perfil p {
    font-size: 10px;
    font-family: var(--font-2);
    color: var(--principal-cor-3);

}

#cadastrarGestor .primeira_linha {
    display: flex;
    gap: 10px;

}

#cadastrarGestor .centralizar {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 580px;

}

#cadastrarGestor .posicao_linha {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

#cadastrarGestor .segunda_linha {
    display: flex;
    gap: 10px;

}

#cadastrarGestor .terceira_linha {
    display: flex;
    gap: 10px;

}

#cadastrarGestor .quarta_linha {
    display: flex;
    gap: 30px;
    align-items: center;
}

#cadastrarGestor .input {
    display: flex;
    flex-direction: column;
    border-radius: 15px;


}

#cadastrarGestor .input1 {
    flex: 2;

}

#cadastrarGestor .input2 {
    flex: 1;
}

#cadastrarGestor .input3,
#cadastrarGestor .input4,
#cadastrarGestor .input5 {
    flex: 1;
}

#cadastrarGestor .input6,
#cadastrarGestor .input7 {
    flex: 1;
}

#cadastrarGestor .input8 {
    width: 70%;
}

#cadastrarGestor .input_caixa {
    border-radius: 8px;
    height: 30px;
    border: 1px solid var(--principal-cor-3);
    background-color: var(--grayscale-cor-3);
}

#cadastrarGestor .input label {
    text-transform: uppercase;
    color: var(--principal-cor-3);
    font-size: 12px;
}

#cadastrarGestor .button_salvar {
    width: 70%;
    display: flex;
    align-items: center;
    padding-top: 12px;

}

#cadastrarGestor .button_salvar button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 8px;
    background-color: var(--principal-cor-3);
    font-family: var(--font-2);
    font-size: 18px;
    color: var(--grayscale-cor-3);
    border: none;
    box-shadow: 2px 3px 5px #888888;

}



#cadastrarGestor .adminCadastroGestorPosicionamento_Agendar {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 5px;
    align-items: center;
    max-width: 220px;
}

#cadastrarGestor .adminCadastroGestorPosicionamento_Agendar p {
    font-family: var(--font-2);
    font-size: 10px;
    color: var(--principal-cor-3);
    text-align: justify;

}

#cadastrarGestor .agendar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 10px;
}

#cadastrarGestor .data_enviarSenha {
    display: flex;
    flex-direction: column;
}

#cadastrarGestor .horario_enviarSenha {
    display: flex;
    flex-direction: column;

}

#cadastrarGestor .texto_senha {
    width: 180px;
    font-family: var(--font-2);
    font-size: 10px;
    color: var(--auxiliar-cor-6);
}

#cadastrarGestor .input_caixas2,
#cadastrarGestor .input_caixass2 {
    width: 220px;
    border-radius: 8px;
    height: 30px;
    border: 1px solid var(--principal-cor-3);
    background-color: var(--grayscale-cor-3);
    color: gray;
    padding: 0 15px;
}

#cadastrarGestor .agendar label {
    text-transform: uppercase;
    color: var(--principal-cor-3);
    font-size: 12px;
}

#cadastrarGestor .button_agendar button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 8px;
    background-color: var(--principal-cor-3);
    font-family: var(--font-2);
    font-size: 18px;
    color: var(--grayscale-cor-3);
    border: none;
    box-shadow: 2px 3px 5px #888888;
    margin-top: 10px;


}

#cadastrarGestor .button_agendar {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 12px;

}

#cadastrarGestor h2 {
    font-size: 20px;
    font-family: var(--font-2);
    color: var(--principal-cor-3);
}

#cadastrarGestor ::placeholder,
#cadastrarGestor .input_caixa {
    padding: 0 15px;
}

#cadastrarGestor hr {
    border-color: var(--principal-cor-3);
}

@media screen and (max-width: 1200px) {

    /*SECTION*/

    #cadastrarGestor .adminCadastroGestor_Secao {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        min-height: 100vh;
    }

    #cadastrarGestor .adminCadastroGestor_Secao H1 {
        font-size: 40px;
        margin-top: 10px;

    }

    #cadastrarGestor .admin_FotoPadrao {
        height: 105px;
        width: 101px;
    }

    #cadastrarGestor .texto_perfil {
        display: flex;
        flex-direction: column;
        width: 38%;
        margin-top: -10px;
    }

    #cadastrarGestor .texto_perfil p {
        font-size: 9px;
    }



    #cadastrarGestor .adminCadastroGestor_texto_imagem {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-direction: column;

    }

    #cadastrarGestor .centralizar {
        gap: 10px;

    }

    #cadastrarGestor .posicao_linha {
        gap: 20px;
    }

    #cadastrarGestor .adminCadastroGestor_texto_imagem  {
        gap: 5px;

    }

    #cadastrarGestor .input_caixa {
        height: 25px;

    }

    #cadastrarGestor .button_entrar {
        padding-top: 2px;

    }

    #cadastrarGestor .button_sair {
        padding-top: 2px;
    }

    #cadastrarGestor .button_entrar button {
        height: 25px;
        font-size: 16px;
    }

    #cadastrarGestor .button_sair button {
        height: 25px;
        font-size: 16px;
    }

    #cadastrarGestor hr {
        display: none;
    }

    #cadastrarGestor .adminCadastroGestorPosicionamento_Agendar {
        display: flex;
        justify-content: space-between;
        gap: 5px;
        align-items: center;
        width: 100%;
        max-width: 800px;

    

    }

    #cadastrarGestor .input_senha,
    #cadastrarGestor .input_senha2 {
        height: 25px;
    }

    #cadastrarGestor .button_alterar {
        padding-top: none;

    }

    #cadastrarGestor .button_alterar button {
        height: 25px;

    }

    #cadastrarGestor .button_agendar {
        width: 100%;
        max-width: 220px;
        display: flex;
        align-items: center;
        padding-top: 12px;
    }

}


@media screen and (max-width: 900px) {

    #cadastrarGestor .admincadastroGestor_Secao H1 {
        font-size: 35px;
        margin-top: 20px;

    }

}

@media screen and (max-width: 768px) {

    #cadastrarGestor .adminCadastroGestor {
        width: 100%;
    }

    #cadastrarGestor .adminCadastroGestor_Secao {
        gap: 5px;
    }

    #cadastrarGestor .adminCadastroGestor_Secao H1 {
        font-size: 30px;
        margin-top: 20px;

    }

    #cadastrarGestor .admin_FotoPadrao {
        height: 115px;
        width: 111px;
    }


}



@media screen and (max-width: 600px) {


    #cadastrarGestor .adminCadastroGestor_Secao H1 {
        font-size: 28px;
        margin-top: 2px;

    }



    #cadastrarGestor .admin_FotoPadrao {
        height: 105px;
        width: 101px;
    }

    #cadastrarGestor .texto_perfil p {
        font-size: 7px;

    }

    #cadastrarGestor .centralizar {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 480px;
    }



}

@media screen and (max-width: 500px) {

   

    #cadastrarGestor .adminCadastroGestor_Secao {
        gap: 2px;
    }

    #cadastrarGestor .adminCadastroGestor_Secao H1 {
        font-size: 28px;
        margin-top: 10px;

    }


    #cadastrarGestor .admin_FotoPadrao {
        height: 105px;
        width: 101px;
    }

    #cadastrarGestor .texto_perfil {
        width: 60%;
        margin-top: 1px;
    }

    #cadastrarGestor .texto_perfil p {
        font-size: 7px;

    }

    #cadastrarGestor .adminPerfil_texto_imagem {
        gap: 2px;
    }

    #cadastrarGestor .centralizar {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 380px;
    }

    #cadastrarGestor .posicao_linha {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    #cadastrarGestor .primeira_linha {
        display: flex;
        gap: 5px;
        flex-direction: column;
    }

    #cadastrarGestor .segunda_linha {
        display: flex;
        gap: 5px;
        flex-direction: column
    }

    #cadastrarGestor .terceira_linha {
        display: flex;
        gap: 5px;
        flex-direction: column;
    }

    #cadastrarGestor .quarta_linha {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    #cadastrarGestor .input8 {
        width: 100%;
    }

    #cadastrarGestor .button_salvar {
        width: 50%;

    }

    #cadastrarGestor .posicionamento_alterar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1px;
    }

    #cadastrarGestor .button_alterar {
        width: 100%;
        padding-top: 1px
    }



}

@media screen and (max-width: 400px) {


    #cadastrarGestor .centralizar {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 300px;
    }
} 