
#cadastrarGestor {
    display: flex;
    height: 100%;
    background-color: var(--grayscale-cor-2);

}



.adminCadastroGestor_Secao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.adminCadastroGestor_Secao H1{
    font-size: 60px;
    font-family: var(--font-2);
    color: var(--principal-cor-3);
    text-transform:uppercase ;
}

.adminCadastroGestor {
    width: 80%;
    background-color: var(--grayscale-cor-3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.adminCadastroGestor_Secao {
    background-color: var(--grayscale-cor-3);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;

}

.adminCadastroGestor_texto_imagem {
    display: flex;
    gap: 50px;
}

.user_config {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.admin_FotoPadrao {
    height: 175px;
    width: 171px;
    border: 3px solid var(--principal-cor-3);
    border-radius: 100%
}

.admin_engrenagem {
    position: absolute;
    right: -10px;
    bottom: 6px;
    fill: var(--principal-cor-3);
    width: 25px;
    height: 25px;

}

.texto_perfil {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: -20px;

}


.texto_perfil p {
    font-size: 10px;
    font-family: var(--font-2);
    color: var(--principal-cor-3);
   
}

.primeira_linha {
    display: flex;
    gap: 10px;

}

.centralizar {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 580px;

}

.posicao_linha {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

.segunda_linha {
    display: flex;
    gap: 10px;

}

.terceira_linha {
    display: flex;
    gap: 10px;

}

.quarta_linha {
    display: flex;
    gap: 30px;
    align-items: center;
}

.input {
    display: flex;
    flex-direction: column;
    border-radius: 15px;


}

.input1 {
    flex: 2;

}

.input2 {
    flex: 1;
}

.input3,
.input4,
.input5 {
    flex: 1;
}

.input6,
.input7 {
    flex: 1;
}

.input8 {
    width: 70%;
}

.input_caixa {
    border-radius: 10px;
    height: 30px;
    border: 2px solid var(--principal-cor-3);
    background-color: var(--grayscale-cor-3);
}

.input label {
    text-transform: uppercase;
    color: var(--principal-cor-3);
    font-size: 12px;
}

.button_salvar {
    width: 70%;
    display: flex;
    align-items: center;
    padding-top: 12px;

}

.button_salvar button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 10px;
    background-color: var(--principal-cor-3);
    font-family: var(--font-2);
    font-size: 18px;
    color: var(--grayscale-cor-3);
    border: none;
    box-shadow: 2px 3px 5px #888888;

}



.adminCadastroGestorPosicionamento_Agendar{
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
    align-items: center;
    max-width: 220px;
}

.adminCadastroGestorPosicionamento_Agendar p{
    font-family: var(--font-2);
    font-size: 10px;
    color: var(--principal-cor-3);
    text-align: justify;

}

.agendar{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 10px;
}

.data_enviarSenha{
    display: flex;
    flex-direction: column;
}

.horario_enviarSenha{
    display: flex;
    flex-direction: column;
   
}

.texto_senha{
    width: 180px;
    font-family: var(--font-2);
    font-size: 10px;
    color: var(--auxiliar-cor-6);
}

.input_caixas2, .input_caixass2{
    width: 180px;
    border-radius: 10px;
    height: 30px;
    border: 2px solid var(--principal-cor-3) ;
    background-color: var(--grayscale-cor-3);
    color: gray;
     padding: 0 15px;
}

.agendar label{
    text-transform: uppercase ;
    color: var(--principal-cor-3);
    font-size: 12px;
}

.button_agendar button{
    width: 93%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 29px;
    border-radius: 20px;
    background-color: var(--principal-cor-3);
    font-family: var(--font-2);
    font-size: 18px;
    color: var(--grayscale-cor-3);
    border: none;
    box-shadow: 2px 3px 5px #888888;
    margin-top: 10px;
   

}

.button_agendar{
    width: 90%;
    display: flex;
    align-items: center;
    padding-top: 12px;

}

h2 {
    font-size: 20px;
    font-family: var(--font-2);
    color: var(--principal-cor-3);
}
::placeholder , .input_caixa {
    padding: 0 15px;
}
hr{
    border-color: var(--principal-cor-3);
}


@media screen and (max-width: 900px) {
    
    .adminPerfil_Secao H1{
        font-size: 35px;
        margin-top: 20px;
       
    }

}

@media screen and (max-width: 768px){
    .adminPerfil{
        width: 100%;
    }
    
    .adminPerfil_Secao{
        gap: 5px;
    }
    
    .adminPerfil_Secao H1{
        font-size: 30px;
        margin-top: 20px;
       
    }
    
    .admin_FotoPadrao {
        height: 115px;
        width: 111px;
    }


}



@media screen and (max-width: 600px) {


.adminPerfil_Secao H1{
    font-size: 28px;
    margin-top: 2px;
   
}



.admin_FotoPadrao {
    height: 105px;
    width: 101px;
}

.texto_perfil p {
    font-size: 7px;
    
}

.centralizar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 480px;
}



}

@media screen and (max-width: 500px) {

.adminPerfil_Secao{
    gap: 2px;
}
.adminPerfil_Secao H1{
    font-size: 28px;
    margin-top: 10px;
   
}


.admin_FotoPadrao {
    height: 105px;
    width: 101px;
}

.texto_perfil {
    width: 60%;
    margin-top: 1px;
}

.texto_perfil p {
    font-size: 7px;
    
}

.adminPerfil_texto_imagem{
    gap: 2px;
}

.centralizar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 380px;
}

.posicao_linha {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.primeira_linha {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.segunda_linha {
    display: flex;
    gap: 5px;
    flex-direction: column
}

.terceira_linha {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.quarta_linha {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.input8 {
    width: 100%;
}

.button_salvar {
    width: 50%;
    
}

.posicionamento_alterar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

.button_alterar {
    width: 100%;
    padding-top: 1px
}



}



@media screen and (max-width: 400px) {
.centralizar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}



}