



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.ColaboradorPerfil{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80vw;
   
}

.ColaboradorPerfil h1 {
    font-size: 42px;
    font-family: var(--font-3);
    color: var(--principal-cor-3);
    
    font-weight: bold;
    text-align: center;
}

.ColaboradorPerfil {
    width: 80%;
    background-color: var(--grayscale-cor-3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ColaboradorPerfil_Secao {
    background-color: var(--grayscale-cor-3);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-direction: column;

}

.ColaboradorPerfil_texto_imagem {
    display: flex;
    gap: 50px;
}

.user_config {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.Colaborador_FotoPadrao {
    height: 155px;
    width: 151px;
    border: 1px solid var(--principal-cor-3);
    border-radius: 100%;
    cursor: pointer;
    
}

.Colaborador_engrenagem {
    position: absolute;
    right: -10px;
    bottom: 6px;
    fill: var(--principal-cor-3);
    width: 25px;
    height: 25px;
    ur

}



.primeira_linha {
    display: flex;
    gap: 10px;

}

.centralizar {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 580px;

}

.posicao_linha {
    display: flex;
    flex-direction: column;
    gap: 55px;
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.segunda_linha {
    display: flex;
    gap: 10px;

}

.terceira_linha {
    display: flex;
    gap: 10px;

}

.quarta_linha {
    display: flex;
    gap: 60px;
    align-items: center;
}

.input {
    display: flex;
    flex-direction: column;
    border-radius: 18px;


}

.input1 {
    flex: 2;

}



.input3,
.input4,
.input5 {
    flex: 1;
}

.input6,
.input7 {
    flex: 1;
}

.input8 {
    width: 70%;
}
.input_caixa {
    border-radius: 8px;
    height: 30px;
    border: 1px solid var(--principal-cor-3);
    background-color: var(--grayscale-cor-3);
}

 .input label {
    text-transform: uppercase;
    color: var(--principal-cor-3);
    font-size: 12px;
    font-family: var(--font-3);
}

 .button_salvar {
    width: 30%;
    display: flex;
    align-items: center;
    padding-top: 12px;

}

 .button_salvar button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 8px;
    background-color: var(--principal-cor-3);
    font-family: var(--font-3);
    font-size: 18px;
    color: var(--grayscale-cor-3);
    border: none;
    box-shadow: 2px 3px 5px 888888;

}

 h2 {
    
    font-size: 20px;
    font-family: var(--font-3);
    color: var(--principal-cor-3);
}

 ::placeholder,
.input_caixa {
    padding: 0 10px;
    font-family: var(--font-3);
    font-size: 14px;
    color: var(--grayscale-cor-1);

}

@media screen and (max-width: 1200px) {

    /*ASIDE*/

    

    /*SECTION*/

     .ColaboradorPerfil_Secao {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

     .ColaboradorPerfil_Secao H1 {
        font-size: 40px;
        margin-top: 10px;

    }

     .Colaborador_FotoPadrao {
        height: 105px;
        width: 101px;
    }

     .texto_perfil {
        display: flex;
        flex-direction: column;
        width: 38%;
        margin-top: -10px;
    }

     .texto_perfil p {
        font-size: 9px;
    }



     .ColaboradorPerfil_texto_imagem {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-direction: column;

    }

     .centralizar {
        gap: 20px;

    }

     .posicao_linha {
        gap: 10px;
    }

     .ColaboradorPerfil_texto_imagem {
        gap: 5px;

    }

     .input_caixa {
        height: 25px;

    }

     .button_entrar {
        padding-top: 2px;

    }

     .button_sair {
        padding-top: 2px;
    }

     .button_entrar button {
        height: 25px;
        font-size: 16px;
    }

     .button_sair button {
        height: 25px;
        font-size: 16px;
    }
}


@media screen and (max-width: 900px) {

    /*SECTION*/

     .ColaboradorPerfil_Secao H1 {
        font-size: 35px;
        margin-top: 20px;

    }

}

@media screen and (max-width:768px) {

    /*ASIDE*/

   
    /*SECTION*/

     .ColaboradorPerfil {
        width: 100%;
    }

     .ColaboradorPerfil_Secao {
        gap: 5px;
    }

     .ColaboradorPerfil_Secao H1 {
        font-size: 30px;
        margin-top: 20px;

    }

     .Colaborador_FotoPadrao {
        height: 115px;
        width: 111px;
    }

     .texto_perfil {
        width: 38%;
        margin-top: 0px;
    }


}

@media screen and (max-width: 600px) {

    /*SECTION*/

     .ColaboradorPerfil_Secao H1 {
        font-size: 28px;
        margin-top: 2px;

    }

     .Colaborador_FotoPadrao {
        height: 105px;
        width: 101px;
    }

     .texto_perfil p {
        font-size: 7px;

    }

     .centralizar {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 480px;
    }



}

@media screen and (max-width: 500px) {

    /*SECTION*/

     .ColaboradorPerfil_Secao {
        gap: 2px;
    }

     .ColaboradorPerfil_Secao H1 {
        font-size: 28px;
        margin-top: 90px;

    }


     .Colaborador_FotoPadrao {
        height: 75px;
        width: 71px;
    }

     .texto_perfil {
        width: 47%;
        margin-top: 1px;
    }

     .texto_perfil p {
        font-size: 7px;

    }

     .ColaboradorPerfil_texto_imagem {
        gap: 2px;
    }

     .centralizar {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 380px;
    }

     .posicao_linha {
        display: flex;
        flex-direction: column;
        gap: 1px;
        width: 100%;
    }

     .primeira_linha {
        display: flex;
        gap: 5px;
        flex-direction: column;
    }

     .segunda_linha {
        display: flex;
        gap: 5px;
        flex-direction: column
    }

     .terceira_linha {
        display: flex;
        gap: 5px;
        flex-direction: column;
    }

     .quarta_linha {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

     .input4,
    .input5 {
        flex: 1;
    }

     .input8 {
        width: 100%;
    }

     .button_salvar {
        width: 50%;

    }

     .button_salvar button {
        height: 25px;
    }


  

    


}



@media screen and (max-width: 400px) {

    /*SECTION*/

     .centralizar {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 300px;
    }




}