#perfil_gestor .gestorPerfil_Secao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#perfil_gestor .gestorPerfil_Secao H1 {
    font-size: 60px;
    font-family: var(--font-2);
    color: var(--principal-cor-3);
    text-transform: uppercase;
}

#perfil_gestor .gestorPerfil {
    width: 80%;
    background-color: var(--grayscale-cor-3);
    display: flex;
    justify-content: center;
    align-items: center;
}

#perfil_gestor .gestorPerfil_Secao {
    background-color: var(--grayscale-cor-3);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;

}

#perfil_gestor .gestorPerfil_texto_imagem {
    display: flex;
    gap: 50px;
}

#perfil_gestor .user_config {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

#perfil_gestor .gestor_FotoPadrao {
    height: 155px;
    width: 151px;
    border: 1px solid var(--principal-cor-3);
    border-radius: 100%
}

#perfil_gestor .gestor_engrenagem {
    position: absolute;
    right: -10px;
    bottom: 6px;
    fill: var(--principal-cor-3);
    width: 25px;
    height: 25px;

}



#perfil_gestor .primeira_linha {
    display: flex;
    gap: 10px;

}

#perfil_gestor .centralizar {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 580px;

}

#perfil_gestor .posicao_linha {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

#perfil_gestor .segunda_linha {
    display: flex;
    gap: 10px;

}

#perfil_gestor .terceira_linha {
    display: flex;
    gap: 10px;

}

#perfil_gestor .quarta_linha {
    display: flex;
    gap: 60px;
    align-items: center;
}

#perfil_gestor .input {
    display: flex;
    flex-direction: column;
    border-radius: 18px;


}

#perfil_gestor .input1 {
    flex: 2;

}



#perfil_gestor .input3,
.input4,
.input5 {
    flex: 1;
}

#perfil_gestor .input6,
.input7 {
    flex: 1;
}

#perfil_gestor .input8 {
    width: 70%;
}

#perfil_gestor .input_caixa {
    border-radius: 8px;
    height: 30px;
    border: 1px solid var(--principal-cor-3);
    background-color: var(--grayscale-cor-3);
}

#perfil_gestor .input label {
    text-transform: uppercase;
    color: var(--principal-cor-3);
    font-size: 12px;
}

#perfil_gestor .button_salvar {
    width: 30%;
    display: flex;
    align-items: center;
    padding-top: 12px;

}

#perfil_gestor .button_salvar button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 8px;
    background-color: var(--principal-cor-3);
    font-family: var(--font-2);
    font-size: 18px;
    color: var(--grayscale-cor-3);
    border: none;
    box-shadow: 2px 3px 5px #888888;

}

#perfil_gestor h2 {
    text-transform: uppercase;
    font-size: 20px;
    font-family: var(--font-2);
    color: var(--principal-cor-3);
}

#perfil_gestor ::placeholder,
.input_caixa {
    padding: 0 15px;
}

@media screen and (max-width: 1200px) {

    /*ASIDE*/

    

    /*SECTION*/

    #perfil_gestor .gestorPerfil_Secao {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #perfil_gestor .gestorPerfil_Secao H1 {
        font-size: 40px;
        margin-top: 10px;

    }

    #perfil_gestor .gestor_FotoPadrao {
        height: 105px;
        width: 101px;
    }

    #perfil_gestor .texto_perfil {
        display: flex;
        flex-direction: column;
        width: 38%;
        margin-top: -10px;
    }

    #perfil_gestor .texto_perfil p {
        font-size: 9px;
    }



    #perfil_gestor .gestorPerfil_texto_imagem {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-direction: column;

    }

    #perfil_gestor .centralizar {
        gap: 20px;

    }

    #perfil_gestor .posicao_linha {
        gap: 10px;
    }

    #perfil_gestor .gestorPerfil_texto_imagem {
        gap: 5px;

    }

    #perfil_gestor .input_caixa {
        height: 25px;

    }

    #perfil_gestor .button_entrar {
        padding-top: 2px;

    }

    #perfil_gestor .button_sair {
        padding-top: 2px;
    }

    #perfil_gestor .button_entrar button {
        height: 25px;
        font-size: 16px;
    }

    #perfil_gestor .button_sair button {
        height: 25px;
        font-size: 16px;
    }
}


@media screen and (max-width: 900px) {

    /*SECTION*/

    #perfil_gestor .gestorPerfil_Secao H1 {
        font-size: 35px;
        margin-top: 20px;

    }

}

@media screen and (max-width:768px) {

    /*ASIDE*/

   
    /*SECTION*/

    #perfil_gestor .gestorPerfil {
        width: 100%;
    }

    #perfil_gestor .gestorPerfil_Secao {
        gap: 5px;
    }

    #perfil_gestor .gestorPerfil_Secao H1 {
        font-size: 30px;
        margin-top: 20px;

    }

    #perfil_gestor .gestor_FotoPadrao {
        height: 115px;
        width: 111px;
    }

    #perfil_gestor .texto_perfil {
        width: 38%;
        margin-top: 0px;
    }


}

@media screen and (max-width: 600px) {

    /*SECTION*/

    #perfil_gestor .gestorPerfil_Secao H1 {
        font-size: 28px;
        margin-top: 2px;

    }

    #perfil_gestor .gestor_FotoPadrao {
        height: 105px;
        width: 101px;
    }

    #perfil_gestor .texto_perfil p {
        font-size: 7px;

    }

    #perfil_gestor .centralizar {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 480px;
    }



}

@media screen and (max-width: 500px) {

    /*SECTION*/

    #perfil_gestor .gestorPerfil_Secao {
        gap: 2px;
    }

    #perfil_gestor .gestorPerfil_Secao H1 {
        font-size: 28px;
        margin-top: 90px;

    }


    #perfil_gestor .gestor_FotoPadrao {
        height: 75px;
        width: 71px;
    }

    #perfil_gestor .texto_perfil {
        width: 47%;
        margin-top: 1px;
    }

    #perfil_gestor .texto_perfil p {
        font-size: 7px;

    }

    #perfil_gestor .gestorPerfil_texto_imagem {
        gap: 2px;
    }

    #perfil_gestor .centralizar {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 380px;
    }

    #perfil_gestor .posicao_linha {
        display: flex;
        flex-direction: column;
        gap: 1px;
        width: 100%;
    }

    #perfil_gestor .primeira_linha {
        display: flex;
        gap: 5px;
        flex-direction: column;
    }

    #perfil_gestor .segunda_linha {
        display: flex;
        gap: 5px;
        flex-direction: column
    }

    #perfil_gestor .terceira_linha {
        display: flex;
        gap: 5px;
        flex-direction: column;
    }

    #perfil_gestor .quarta_linha {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    #perfil_gestor .input4,
    .input5 {
        flex: 1;
    }

    #perfil_gestor .input8 {
        width: 100%;
    }

    #perfil_gestor .button_salvar {
        width: 50%;

    }

    #perfil_gestor .button_salvar button {
        height: 25px;
    }


  

    


}



@media screen and (max-width: 400px) {

    /*SECTION*/

    #perfil_gestor .centralizar {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 300px;
    }




}