
.cabecalho {
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto {
    width: 80vw;
    height: 45vh;
    background-color: #06C7F2;
    position: relative;
}

.texto h1 {
    width: 55%;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: end;
    font-family: var(--font-3);
    font-size: 42px;
}

.texto h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 120px;
    align-items: flex-end;
    font-family: var(--font-3);
    font-size: 42px;
    font-weight: 600;
    color: #F3F3F3;
}

.conteudo {
    width: 60%;
    height: 75vh;
    box-shadow: 2px 2px 4px #0000004f;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 150px;
    background-color: #F3F3F3;
    border-radius: 8px;
}

main {
    background-color: #F3F3F3;
}

.grupo_pesquisar {
    width: 40vw;
    display: flex;
    align-items: center;
    position: relative;
    height: 50px;
}

.grupo_pesquisar input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid var(--auxiliar-cor-3);
    padding: 10px 15px;
}

input::placeholder {
    font-family: var(--font-3);
    font-size: 18px;
    color: var(--principal-cor-2);
    display: flex;
    align-items: center;
}

.grupo_pesquisar img {
    width: 20px;
    
    position: absolute;
    right: 10px;
    z-index: 1;
}

.navegacao {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
}

.navegacao3 ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
    list-style: none;
}

.navegacao3 a {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: var(--principal-cor-2);
    font-family: var(--font-3);
    font-weight: 600;
    font-size: 20px;
}

.navegacao4 a img {
    width: 30px;
}

.navegacao4 a {
    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--principal-cor-2);
    font-family: var(--font-3);
    font-size: 20px;
}

#titulo_principaisRespostas{
    font-family: var(--font-3);
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
    color: var(--principal-cor-1);
}

.navegacao3 img {
    width: 45px;

}

.navegacao2 {
    display: flex;
    width: 40vw;
    justify-content: space-between;
    gap: 20px;

}

.card1,
.card2 {
    width: 300px;
    height: 150px;
    box-shadow: 2px 2px 4px #0000004f;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.card1:hover,.card2:hover{
    color: #090C40;
    transition: 0.6s;
    transform: scale(1.1);
}

.navegacao4 {
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
}

.navegacao4 a {
    gap: 10px;
}






@media screen and (max-width:768px) {
    .imagem_volks img {
        width: 70px;
    }

    .posicao_grupo1 {
        height: 450px;
    }


    .moldura_config {
        width: 70px;


    }

    .config {
        width: 20px;
    }


    .menu_conteudo span {
        font-size: 13px;

    }

    .menu_barras {
        display: flex;
        background-color: var(--principal-cor-2);
        padding: 7px;
        border-radius: 0 15px 15px 0;
        position: absolute;
        top: 20px;
        right: -40px;

    }

    .menu_barras img {
        width: 30px;
        height: 30px;
    }

    aside {
        position: absolute;
        width: 150px;
    }

    .posicionamento_elementos {
        width: 100%;
    }

    body {
        height: 100vh;
    }

    #sombra {
        height: 100vh;
        width: 100vw;
        background-color: #0000004f;
        position: fixed;
        top: 0;
        right: 110vw;
        overflow: hidden;
        transition: .5s;
        backdrop-filter: blur(10px);

    }


}