#aside_colaborador .cabecalho {
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#aside_colaborador .texto {
    width: 80vw;
    height: 45vh;
    background-color: var(--auxiliar-cor-1);
    position: relative;
}

#aside_colaborador h3{
    color: var(--principal-cor-1);
}

#aside_colaborador .texto h1 {
    width: 55%;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: end;
    font-family: var(--font-3);
    font-size: 30px;
}

#aside_colaborador .texto h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 140px;
    align-items: flex-end;
    font-family: var(--font-3);
    font-size: 42px;
    font-weight: 600;
    color: #F3F3F3;
}

#aside_colaborador .conteudo {
    width: 60%;
    height: 70vh;
    box-shadow: 2px 2px 4px #0000004f;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 180px;
    background-color: #F3F3F3;
    border-radius: 8px;
}

#aside_colaborador {
    background-color: #F3F3F3;
}

#aside_colaborador .grupo_pesquisar {
    width: 40vw;
    display: flex;
    align-items: center;
    position: relative;
    height: 50px;
}

#aside_colaborador .grupo_pesquisar input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid var(--principal-cor-2);
    padding: 10px 15px;
}

#aside_colaborador input::placeholder {
    font-family: var(--font-3);
    font-size: 14px;
    color: var(--principal-cor-2);
    display: flex;
    align-items: center;
}

#aside_colaborador .grupo_pesquisar img {
    width: 20px;
    
    position: absolute;
    right: 10px;
    z-index: 1;
}

#aside_colaborador .navegacao {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}

#aside_colaborador .navegacao3 ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
    list-style: none;
}

#aside_colaborador .navegacao3 a {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: var(--principal-cor-2);
    font-family: var(--font-3);
    font-size: 20px;
}

#aside_colaborador .navegacao4 a img {
    width: 30px;
}

#aside_colaborador .navegacao4 a {
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--principal-cor-2);
    font-family: var(--font-3);
    font-size: 20px;
}

#aside_colaborador h3 {
    font-family: var(--font-3);
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

#aside_colaborador .navegacao3 img {
    width: 30px;

}

#aside_colaborador .navegacao2 {
    display: flex;
    width: 40vw;
    justify-content: space-between;

}

#aside_colaborador .card1,
.card2 {
    width: 285px;
    height: 140px;
    box-shadow: 2px 2px 4px #0000004f;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#aside_colaborador .card1:hover,.card2:hover{
    color: #090C40;
    transition: 0.6s;
    transform: scale(1.1);
}

#aside_colaborador .navegacao4 {
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

#aside_colaborador .navegacao4 a {
    gap: 30px;
}