@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Righteous&family=Titillium+Web:wght@400;600&display=swap');


.caixa_certificado{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
}

.carrousel_texto{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
   
    
}

.carrousel_texto h5{
    font-size: 3.5em;
    font-family: 'Poppins',sans-serif;

}

.carrousel_texto p{
    font-size: 1.3em;
    font-family: 'Poppins',sans-serif;
}


.tela_meuscertificados{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 90px 30px;
    width: calc(100vw - 20vw);
    height: 100vh;
}





.certificados{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
}

.certificados1,.certificados2{
    display: flex;
    gap: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.certificados1 img,.certificados2 img{
    border-radius: 7px;
}

.iconecadeado{
    display: flex;
    width: 50px;
    position: fixed;
    color: white;
    align-items: center;
    justify-content: center;

}
.iconecadeado img{
    
    color: white;

}


.certificado-container {
    position: relative;
    text-align: center;
  
}


.icone-cadeado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 70px;
    
}
.icone-cadeado svg{
    fill: red;
}
.caixa_certificado2{
  
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 20px;
        padding: 20px;
    }



.icone-cadeado.hidden {
    display: none;
  }
  .icone-cadeado.visible {
    display: inline; /* Ou use "block", dependendo do layout desejado */
  }