
#resetaSenha {

    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#resetaSenha .reseta_all {
    height: 100%;
    width: 60%;
    background-image: url('../../assets/img/bg_login.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#resetaSenha .reseta_all h1 {
    font-family: var(--font-1);
    font-size: 60px;
    color: var(--principal-cor-1);
    margin-top: 20px;
    margin-bottom: 10px;

}

#resetaSenha .reseta_tree {
    font-size: 25px;
    font-family: var(--font-2);
    color: var(--principal-cor-1);
    display: flex;
    align-items: center;
    flex-direction: column;
}

#resetaSenha .reseta_direcional {
    background-color: var(--grayscale-cor-3);
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#resetaSenha .reseta_comandos {
    height: 500px;
    max-width: 400px;
    width: 100%;
    background-color: var(--grayscale-cor-3);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border: 3px solid var(--principal-cor-3);
}

#resetaSenha .reseta_comandos h2 {
    font-family: var(--font-2);
    font-size: 40px;
    color: var(--principal-cor-3);

}

#resetaSenha .reseta_comandos label {
    font-family: var(--font-2);
    font-size: 20px;
    color: var(--principal-cor-3);
    margin-bottom: 10px;

}

#resetaSenha .reseta_comandos input {
    height: 40px;
    width: 100%;
    min-width: 245px;
    border: 3px solid var(--principal-cor-3);
    border-radius: 10px;
    margin-top: 5px;

}

#resetaSenha .reseta_comandos a {
    font-family: var(--font-2);
    font-size: 20px;
    color: var(--principal-cor-3);
    text-decoration: none;
    margin: 5px;
}


#resetaSenha .reseta_comandos button {
    height: 40px;
    width: 250px;
    color: var(--grayscale-cor-4);
    border-radius: 25px;
    border: none;
    font-family: var(--font-2);
    font-size: 20px;
    text-transform: uppercase;
    background-color: var(--principal-cor-3);
    margin-bottom: 30px;
}

@media screen and (max-width: 1220px) {
    #resetaSenha .reseta_tree {
        font-size: 22px;

    }


}

@media screen and (max-width: 1200px) {
    #resetaSenha .reseta_all {
        height: 100%;
        width: 60%;
    }

    #resetaSenha .reseta_all h1 {
        font-size: 50px;
    }

    #resetaSenha .reseta_tree {
        font-size: 22px;
    }

    #resetaSenha .reseta_comandos {
        max-width: 380px;
        width: 100%;
    }

    #resetaSenha .reseta_comandos h2 {
        font-size: 36px;
    }

    #resetaSenha .reseta_comandos label {
        font-size: 18px;

    }

    #resetaSenha .reseta_comandos input {
        height: 40px;
        width: 100%;
        min-width: 240px;

    }

    #resetaSenha .reseta_comandos a {
        font-size: 18px;
    }

    #resetaSenha .reseta_comandos button{
        height: 35px;
        width: 240px;
        font-size: 18px;
    }



}
@media screen and (max-width: 1067px){
    #resetaSenha .reseta_all{
        height: 100%;
    }
    #resetaSenha .reseta_all h1{
        font-size: 46px;
    }
    #resetaSenha .reseta_tree{
        font-size: 18px;
    }
    #resetaSenha .reseta_comandos{
        max-width: 340px;
        width: 100%;
    }
    #resetaSenha .reseta_comandos h2{
        font-size: 32px;
    }
    #resetaSenha .reseta_comandos label{
        font-size: 16px;
    }
    #resetaSenha .reseta_comandos input{
        height: 35px;
        width: 100%;
        min-width: 235px;
    }
    #resetaSenha .reseta_comandos a{
        font-size: 16px;
    }
    #resetaSenha .reseta_comandos button {
        height: 35px;
        width: 220px;
        font-size: 18px;
    }

}
@media screen and (max-width: 970px) {

    #resetaSenha .reseta_tree {
        font-size: 17px;
    }
}
@media screen and (max-width: 900px) {

    #resetaSenha .reseta_all h1 {
        font-size: 45px;

    }

    #resetaSenha .reseta_tree {
        font-size: 16px;
    }

    #resetaSenha .reseta_comandos {
        max-width: 350px;
        width: 100%;
    }

    #resetaSenha .reseta_comandos h2 {
        font-size: 28px;
    }
   
    #resetaSenha .reseta_comandos label {
        font-size: 14px;
    }

    #resetaSenha .reseta_comandos input {
        height: 35px;
        width: 100%;
        min-width: 230px;
    }

    #resetaSenha .reseta_comandos a {
        font-size: 14px;
    }

   
}

@media screen and (max-width: 899px) {
    #resetaSenha .reseta_all h1 {
        font-size: 40px;

    }

    #resetaSenha .reseta_tree {
        font-size: 15px;
    }

    #resetaSenha .reseta_comandos {
        max-width: 290px;
        width: 100%
    }

    #resetaSenha .reseta_comandos input {
        height: 35px;
        width: 100%;
        min-width: 220px;
        font-size: 12px;
    }

    #resetaSenha .reseta_comandos button {
        height: 30px;
        width: 200px;
        font-size: 16px;
    }


}

@media screen and (max-width: 768px) {
    main {
        width: 100%;
        background-size: cover;
        background-image: url('../../assets/img/bg_login.png');
        background-repeat: no-repeat;

    }

    #resetaSenha .reseta_all {
        background-image: none;
    }

    #resetaSenha .reseta_direcional {
        width: 40%;
        background-color: #f3f3f300;
        backdrop-filter: blur(1px);

    }

    #resetaSenha .reseta_comandos {
        height: 500px;
        max-width: 360px;
        min-width: 300px;
        width: 100%;
        margin-right: 30px;
        border-radius: 5px;
    }

    #resetaSenha .reseta_comandos div h2 {
        width: 302px;
        font-size: 14px;
        text-align: none;
    }

    
    img {
        height: 110px;
        width: 150px;

    }

    #resetaSenha .reseta_all h1 {
        font-size: 35px;
    }



}

@media screen and (max-width: 767px) {
    main {
        flex-direction: column;
    }

    #resetaSenha .reseta_all {
        height: 300px;
        min-width: 300px;
        max-width: 320px;
    }

    #resetaSenha .reseta_tree {
        display: none;
    }

    #resetaSenha .reseta_comandos {
        height: 420px;
        max-width: 320px;
        min-width: 300px;
        width: 100%;
        margin-left: 30px;
    }




}


