#aside_colaborador aside{
    display: flex;
    height: 100vh;
    width: 20vw;
    background-color: var(--principal-cor-2);
    left: 0px;
    position: relative;
    transition: all 0.5s ease;
    
    
}

#aside_colaborador .posicionamento_elementos{
    width: 100%;
    height: 97vh;
    margin:  auto 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

#aside_colaborador .posicao_grupo1{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 550px;
    justify-content: space-between;
}

#aside_colaborador .imagem_volks img{
    width: 100px;
}

#aside_colaborador .menu_barras{
   display: none; 
}

#aside_colaborador .imagemfoto{
    width: 100%;
}

#aside_colaborador .config{
    width: 25px;
}

#aside_colaborador .menu_conteudo img{
    height: 35px;
}

#aside_colaborador .menu_conteudo li{
    list-style: none;
    position: relative;
    
}

#aside_colaborador .menu_conteudo{
    display: flex;
    flex-direction: column;
    gap: 50px;
}


#aside_colaborador .menu_conteudo a{
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: var(--font-2);
    font-size: 16px;
    cursor: pointer;
}

#aside_colaborador .menu_conteudo span:hover{
    color: #090C40;
    transition: 0.6s;
    transform: scale(1.2);
   

}


#aside_colaborador .icon{
    width: 40px;
}

#aside_colaborador .icon_trilha{
    width: 30px;
}



#aside_colaborador .menu_conteudo div{
  display: flex;
  width: 35px;
  justify-content: center;
  align-items: center;
}

#aside_colaborador .listameio{
   margin-top: 5px;
   margin-bottom: 5px;
}

#aside_colaborador .icon_certi{
    width: 30px;
}

#aside_colaborador .certi{
    padding-top: 6px;
}

#aside_colaborador .suporte{
    padding-top: 6px;
}

#aside_colaborador .div_logofirst{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#aside_colaborador .saida{
    width: 25px;
}

#aside_colaborador .logo_first img{
    width: 125px;
}

#aside_colaborador .posicionamento_elementos2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 60px;
    align-items: center;
    gap: 10px;
}

#aside_colaborador .moldura_config{
    position: relative;
}

#aside_colaborador .moldura_config a{
    position: absolute;
    right: -10px;
    bottom: 0;
}

@media screen and (max-width:768px) {
    #aside_colaborador .imagem_volks img{
        width: 70px;
    }

    #aside_colaborador .posicao_grupo1{
        height: 450px;
    }

   
    #aside_colaborador .moldura_config{
        width: 70px;
       
        
    }

    #aside_colaborador .config{
        width: 20px;
    }


    #aside_colaborador .menu_conteudo span{
        font-size: 13px;

    }

    #aside_colaborador .menu_barras{
        display: flex;
        background-color:  var(--principal-cor-2);
        padding: 7px;
        border-radius: 0 15px 15px 0 ;
        position: absolute;
        top: 20px;
        right: -40px;
        z-index: 5;

    }

    #aside_colaborador .menu_barras img{
        width: 30px;
        height: 30px;
    }

    #aside_colaborador aside{
        position: absolute;
        width: 150px;
    }

    #aside_colaborador .posicionamento_elementos{
        width: 100%;
    }

   

    #aside_colaborador #sombra{
        height: 100vh;
        width: 100vw;
        background-color: #0000004f;
        position: fixed;
        top: 0;
        right: 110vw;
        overflow: hidden;
        transition: .5s;
        backdrop-filter: blur(10px);
       
    }





}