#gestaoUO {
    display: flex;
    min-height: 100vh;
    background-color: var(--grayscale-cor-2);
}


/* SECTION */

#gestaoUO .adminGestaoUO {
    width: 80%;
    background-color: var(--grayscale-cor-3);
    display: flex;
    justify-content: center;
    align-items: center;
}

#gestaoUO .adminGestaoUO_Secao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#gestaoUO .adminGestaoUO_Secao H1 {
    font-size: 60px;
    font-family: var(--font-2);
    color: var(--principal-cor-3);
    text-transform: uppercase;
    margin-bottom: 40px;
}


#gestaoUO .adminGestaoUO_Secao {
    background-color: var(--grayscale-cor-3);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

#gestaoUO .adminGestaoUO_texto_imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 950px;
    gap: 50px;
}

#gestaoUO .user_config {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#gestaoUO .GestaoUO_Centralizar {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 80%;

}

#gestaoUO .posicao_linha {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

#gestaoUO .primeira_linha {
    display: flex;
    gap: 10px;

}

#gestaoUO .input {
    display: flex;
    flex-direction: column;
    border-radius: 15px;


}

#gestaoUO .input1 {
    flex: 2;

}

#gestaoUO .input2 {
    flex: 1;
}



#gestaoUO .input_caixa {
    border-radius: 8px;
    height: 30px;
    border: 1px solid var(--principal-cor-3);
    background-color: var(--grayscale-cor-3);
}

#gestaoUO .input label {
    text-transform: uppercase;
    color: var(--principal-cor-3);
    font-size: 12px;
}

#gestaoUO .icon {
    height: 25px;
    width: 25px;
    fill: var(--principal-cor-3)
}





#gestaoUO table {
    background-color: var(--grayscale-cor-3);
    color: var(--principal-cor-3);
    display: table-cell;


}






#gestaoUO table th {
    border-bottom: 1px solid;
    text-transform: uppercase;
    font-family: var(--font-2);
    font-size: 12px;
    font-weight: 600;
    border-color: var(--grayscale-cor-4);



}

#gestaoUO table td {
    border: 1px solid var(--grayscale-cor-4);
    border-collapse: collapse;



}

#gestaoUO .tr_one {
    border-bottom: 1px solid var(--grayscale-cor-2);
}


#gestaoUO th {
    text-align: left;
    padding-right: 10px;
    height: 40px;

}



#gestaoUO td {
    padding-left: 4px;



}

#gestaoUO .td_one {
     width: 200px;
}

#gestaoUO .td_two {
     width: 400px; 

}

#gestaoUO .td_tableimg {
    width: 150px;
    gap: 10px;
} 

#gestaoUO .gestaoUOIcons{
    display: flex;
    justify-content: flex-end;
    gap: 10px;

}

#gestaoUO .icon {
    align-items: right;
}


#gestaoUO ::placeholder,
#gestaoUO .input_caixa {
    padding: 0 15px;
}

@media screen and (max-width: 1200px) {
    #gestaoUO .adminGestaoUO_Secao H1 {
        font-size: 40px;
        margin-top: 10px;

    }
}


@media screen and (max-width:768px) {

    #gestaoUO .adminGestaoUO {
        width: 100vw;
    }

    #gestaoUO .adminGestaoUO_Secao {
        gap: 5px;
    }

    #gestaoUO .adminGestaoUO_Secao H1 {
        font-size: 30px;
      
    }


    #gestaoUO thead {
        display: none;

    }

    #gestaoUO table {
        display: block;
        width: 100%;
    }

    #corpo-tabela {
        display: block;
    }

    #gestaoUO table td {
        border: none;
        display: flex;
        justify-content: space-between;
    }

    #gestaoUO td>div {
        display: flex;
        gap: 10px
    }

    #gestaoUO tr {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #e1e1e1;
        border-radius: 8px;
        margin: 10px 0;
        height: auto;
        padding: 10px;
    }

    #gestaoUO td::before {
        content: attr(data-cell)": ";
    }

    #gestaoUO .td_tableimg,
    #gestaoUO .td_one,
    #gestaoUO .td_two {
        width: auto;
    }



}

@media screen and (max-width: 600px) {


    #gestaoUO .adminGestaoUO_Secao H1 {
        font-size: 28px;
        margin-top: 2px;

    }





}

@media screen and (max-width: 500px) {

    #gestaoUO .primeira_linha {
        display: flex;
        flex-direction: column;
    }

    #gestaoUO .input_caixa {
        width: 100%;
       
    }


    #gestaoUO .adminGestaoUO_Secao H1 {
        font-size: 28px;
        margin-top: 60px;

    }

   


}

@media screen and (max-width: 400px) {

    #gestaoUO .input_caixa {
        width: 100%;
      
    }

    #gestaoUO tbody {
        width: 100%;
      
    }

  
}