#cadastroUnidadeAdm {
    display: flex;
    height: 100vh;
    background-color: var(--grayscale-cor-4);

}


#cadastroUnidadeAdm .adminCadastroUnidade {
    width: 80%;
    background-color: var(--grayscale-cor-4);
    display: flex;
    justify-content: center;
    align-items: center;
}

#cadastroUnidadeAdm .CadastroUnidade_Secao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.CadastroUnidade_Secao H1 {
    font-size: 42px;
    font-family: var(--font-3);
    color: var(--principal-cor-3);
    text-transform: uppercase;
    font-weight: bold;
   
}




#cadastroUnidadeAdm .CadastroUnidade_Secao {
    background-color: var(--grayscale-cor-4);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



#cadastroUnidadeAdm .adminFotoPadraoUnidade {
    height: 120px;
    width: 150px;
    fill: var(--principal-cor-3);

}

#cadastroUnidadeAdm .cadastroUnidade_Centralizar {
    display: flex;
    flex-direction: column;
    width: 60vw;

}

#cadastroUnidadeAdm .posicao_linha {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}


#cadastroUnidadeAdm .primeira_linha {
    display: flex;
    gap: 10px;

}

#cadastroUnidadeAdm .segunda_linha {
    display: flex;
    gap: 10px;

}

#cadastroUnidadeAdm .terceira_linha {
    display: flex;
    gap: 10px;

}

#cadastroUnidadeAdm .quarta_linha {
    display: flex;
    gap: 10px;
    align-items: center;

}

#cadastroUnidadeAdm .quinta_linha {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

#cadastroUnidadeAdm .input {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    


}

#cadastroUnidadeAdm .input1 {
    flex: 2;

}

#cadastroUnidadeAdm .input2 {
    flex: 1;
}

#cadastroUnidadeAdm .input3,
#cadastroUnidadeAdm .input4,
#cadastroUnidadeAdm .input5 {
    flex: 1;
}

#cadastroUnidadeAdm .input6,
#cadastroUnidadeAdm .input7 {
    flex: 1;
}

#cadastroUnidadeAdm .input8,
#cadastroUnidadeAdm .input9 {
    flex: 2;
}

#cadastroUnidadeAdm .input10 {
    width: 60%;
}

#cadastroUnidadeAdm .input_caixa {
    border-radius: 8px;
    height: 30px;
    border: 2px solid var(--black-input);
    background-color: var(--grayscale-cor-4);
}

#cadastroUnidadeAdm .input label {
    text-transform: uppercase;
    color: #000000;
    font-size: 12px;
    font-family: var(--font-3);
    font-weight: bold;
    text-transform: uppercase;
}

#cadastroUnidadeAdm .button_salvar {
    width: 20%;
    display: flex;
    align-items: center;
}

#cadastroUnidadeAdm .button_salvar button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 8px;
    background-color: var(--principal-cor-3);
    font-family: var(--font-3);
    font-size: 18px;
    color: var(--grayscale-cor-4);
    border: none;
    box-shadow: 2px 3px 5px #888888;

}

::placeholder,
#cadastroUnidadeAdm .input_caixa {
    padding: 0 14px;
    font-family: var(--font-3);
    font-size: 14px;
    color: var(--grayscale-cor-1);
}

@media screen and (max-width: 1200px) {

    #cadastroUnidadeAdm .adminCadastroUnidade {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        
    }

    #cadastroUnidadeAdm .adminCadastroUnidade_Secao H1 {
        font-size: 40px;
        margin-top: 10px;
    }

    #cadastroUnidadeAdm .adminFotoPadraoUnidade {
        height: 120px;
        width: 160px;
    }


    #cadastroUnidadeAdm .adminPerfil_texto_imagem {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-direction: column;
    }

    #cadastroUnidadeAdm .cadastroUnidade_Centralizar {
        gap: 20px;

    }

    #cadastroUnidadeAdm .posicao_linha {
        gap: 10px;

    }


    #cadastroUnidadeAdm .button_salvar button,
    #cadastroUnidadeAdm .button_salvar {
        height: 25px;
    }

}

@media screen and (max-width: 1024px) {

    #cadastroUnidadeAdm .adminCadastroUnidade {
        padding: 0 20px;
    }
}


@media screen and (max-width: 900px) {



    #cadastroUnidadeAdm .adminCadastroUnidade_Secao H1 {
        font-size: 30px; 
    }

    #cadastroUnidadeAdm .segunda_linha :nth-child(2){
       width: 100%;
    }
}

@media screen and (max-width: 768px) {
    #cadastroUnidadeAdm .primeira_linha .segunda_linha,.terceira_linha,.quarta_linha,.quinta_linha{
        width: 400px;
     }
}

@media screen and (max-width: 600px) {

    #cadastroUnidadeAdm .adminCadastroUnidade_Secao H1 {
        font-size: 30px;
        margin-top: 100px;
    }

    #cadastroUnidadeAdm .adminFotoPadraoUnidade {
        height: 80px;
        width: 120px;
    }

    #cadastroUnidadeAdm .adminCadastroUnidade_Secao {
        gap: 10px;
    }



    #cadastroUnidadeAdm .cadastroUnidade_Centralizar {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 380px;

    }

    #cadastroUnidadeAdm .posicao_linha {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }


    #cadastroUnidadeAdm .primeira_linha {
        display: flex;
        gap: 5px;
        flex-direction: column;

    }

    #cadastroUnidadeAdm .segunda_linha {
        display: flex;
        gap: 5px;
        flex-direction: column
    }

    #cadastroUnidadeAdm .terceira_linha {
        display: flex;
        gap: 5px;
        flex-direction: column
    }

    #cadastroUnidadeAdm .quarta_linha {
        display: flex;
        gap: 5px;
        flex-direction: column
    }

    #cadastroUnidadeAdm .quinta_linha {
        display: flex;
        gap: 5px;
        flex-direction: column
    }


    #cadastroUnidadeAdm .input1 {
        flex: 1;

    }

    #cadastroUnidadeAdm .input2 {
        flex: 1;
    }

    #cadastroUnidadeAdm .input3,
    #cadastroUnidadeAdm .input4,
    #cadastroUnidadeAdm .input5 {
        flex: 1;
    }

    #cadastroUnidadeAdm .input6,
    #cadastroUnidadeAdm .input7 {
        flex: 1;
    }

    #cadastroUnidadeAdm .input8,
    #cadastroUnidadeAdm .input9 {
        flex: 1;
    }

    #cadastroUnidadeAdm .input10 {
        flex: 1;
    }

    #cadastroUnidadeAdm .input8,
    #cadastroUnidadeAdm .input9,
    #cadastroUnidadeAdm .input10{
        width: 100%;
    }

    #cadastroUnidadeAdm .input_caixa, 
    #cadastroUnidadeAdm .button_salvar button,
    #cadastroUnidadeAdm .button_salvar {
      width: 100%;
    }


}

@media screen and (max-width: 500px) {
    #cadastroUnidadeAdm .adminCadastroUnidade_Secao H1 {
        font-size: 28px;
        margin-top: 100px;
    }

}

@media screen and (max-width: 400px) {
    #cadastroUnidadeAdm .adminCadastroUnidade_Secao H1 {
        font-size: 25px;
        margin-top: 110px;
    }

    #cadastroUnidadeAdm .cadastroUnidade_Centralizar {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 300px;
    }

}