#ParabensColaborador{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 100vh;

}

header{
    height: 15vh;
    background-color: var(--principal-cor-5);
    display: flex;
    justify-content: center;
    
}

.ganhador, .ganhador2{
    width: 100px;
    height: 80px;
    border-radius: 30%;
    border: 2px solid black;
}

.cabecalho_parabens{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50vw;
}

h1{
    font-size: 45px;
    font-family: var(--font-2);
    font-weight: bold;
    color: var(--principal-cor-2);
}


.posicao_h2{
    background-color: #F3F3F3;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2{
    display: flex;
    width: 50vw;
    text-align: center;
    margin-bottom: 50px;
  
    
}

h4{
    display: flex;
    width: 50vw;
    text-align: center;
    margin-bottom: 50px;
    font-size:1.5rem;  
    
}

button{
    display: flex;
    justify-content: center;
    color: white;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    font-family: var(--font-2);
}

#popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: var(--principal-cor-2);
    width: 528px;
    height: 350px;
    box-shadow: 0px 25px 50px rgba(0,0,0, 0.1),
     0 0 0 1000px rgba(0,0,0, 0.95);
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 40px;
     border-radius: 15px;
     visibility: hidden;
     
  

}
h3{
    font-family: var(--font-2);
    font-size: 20px;
    color: var(--grayscale-cor-2);
    margin: 40px;
}

.caixaParabens{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
   
    
}

.confetiFundo{
    position: fixed;
    
   
   

    
}

.popup.active{
    visibility: visible;

}


.close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    background: red;
    color:#F3F3F3;
    cursor: pointer;
    border-radius: 10px;
    z-index: 3;


}
#my-canvas{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100vh;
z-index: 100;
visibility: hidden;

}
#my-canvas.active{

    visibility: visible;
}
.btn{
    display: flex;
    width: 150px;
    background-color: var(--principal-cor-2);
    align-items: center;
    height: 80px;
    border-radius: 20px;
    border: none;
}
.btn:hover{
    background-color: var(--principal-cor-4);
    transition: 0.6ms;
    transform: scale(1.1);
}

#botoes_footer{
    background-color: var(--principal-cor-5);
    display: flex;
    height: 20vh;
    justify-content: space-around;
    align-items: center;
}

#botoes_footer a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-family: var(--font-2);
}

.botao_certificado, .botao_satisfacao, .botao_trilha{
    width: 150px;
}

.botao_certificado img{
    width: 70px;
}

.botao_satisfacao img{
    width: 50px;
}

.botao_trilha img{
    width: 50px;
    
}

#botao{
    display: flex;
    width: 150px;
    background-color: var(--principal-cor-2);
    align-items: center;
    height: 100px;
    border-radius: 20px;
}

#botao:hover{
    background-color: var(--principal-cor-4);
    transition: 0.6ms;
    transform: scale(1.1);
}


@media screen and (max-width:768px){

    .imagem_volks img{
        width: 70px;
    }

    .posicao_grupo1{
        height: 450px;
    }

   
    .moldura_config{
        width: 70px;
       
        
    }

    .config{
        width: 20px;
    }


    .menu_conteudo span{
        font-size: 13px;

    }

    .menu_barras{
        display: flex;
        background-color:  var(--principal-cor-2);
        padding: 7px;
        border-radius: 0 15px 15px 0 ;
        position: absolute;
        top: 20px;
        right: -40px;

    }

    .menu_barras img{
        width: 30px;
        height: 30px;
    }

    aside{
        position: absolute;
        width: 150px;
        z-index: 2;
    }

    .posicionamento_elementos{
        width: 100%;
    }

    body{
        height: 100vh;
    }

    #sombra{
        height: 100vh;
        width: 100vw;
        background-color: #0000004f;
        position: fixed;
        top: 0;
        right: 110vw;
        overflow: hidden;
        transition: .5s;
        backdrop-filter: blur(10px);
        z-index: 2;
       
    }

    section{
        width: 100vw;
    }

}

@media screen and (max-width: 500px) {
    /* .imagem_volks img {
        width: 50px;
    }

    .posicionamento_elementos2 {
        margin-bottom: 150px;

    }


    .moldura_config {
        width: 45px;


    }

    .config {
        width: 13px;
    }


    .menu_conteudo img {
        width: 25px;
        height: 25px;
    }

    .menu_conteudo span {
        font-size: 10px;

    }

    .menu_conteudo a {
        gap: 3px;


    }

    .div_logofirst img {
        width: 80px;
    }

    .div_logofirst a .saida {
        width: 20px;
    } */


    
    #textoInformativo{
        font-size: 20px;
        width: 300px;
    }

    h1{
        font-size: 30px;
    }

    .botao{
        width: 70px;
        height: 70px;

    }

    .botoes_footer a{
      text-align: center;
      font-size: 10px;
    }

    .ganhador, .ganhador2{
        width: 70px;
        height: 50px;
        
    }


    .botao_certificado img{
        width: 50px;
    }
    
    .botao_satisfacao img{
        width: 30px;
    }
    
    .botao_trilha img{
        width: 30px;
        
    }
    
       









}