#editar_agenda .conteudos {
    width: calc(100vw - 20vw);
    /* border: 2px solid red; */
    margin-left: 60px;
}

#editar_agenda .conteudos h1{
    font-family: var(--font-2);
    font-size: 60px;
    color: #A6A6A6;
    /* border: 2px solid pink; */
    margin-top: 60px;
    
}
#editar_agenda .lista_itens .checkbox{

    display: flex;
    align-items: center;
    margin-bottom: 38px;
    gap: 30px;
}

#editar_agenda .lista_itens input[type="checkbox"]{
    width: 52px;
    height: 48px;

    border: 4px solid black;
    border-radius: 8px;
    appearance: none;


    
}

#editar_agenda .lista_itens input[type="checkbox"]:checked {

    cursor: pointer;
    background-image: url("./assets/images/check_FILL0_wght700_GRAD0_opsz40.png");
   
}


#editar_agenda .conteudos .lista_itens{
    font-family: var(--font-2);
    font-size: 40px;
    color: #000;

    margin-top: 60px;
}

#editar_agenda .check_manual{
    gap: 10px;
}

#editar_agenda .calendario{
    width: calc(100vw - 20vw);
}





#editar_agenda .conteudos {
    width: calc(100vw - 20vw);
    /* border: 2px solid red; */
    margin-left: 60px;
}

#editar_agenda .conteudos h1 {
    font-family: var(--font-1);
    font-size: 60px;
    color: #A6A6A6;
    /* border: 2px solid pink; */
    margin-top: 60px;
}

html {


    --box-shadow: #CBD4C2;
    --hover: #e8faed;
    --current-day: #e8f4fa;
    --event-color: #58bae4;

}

#editar_agenda .titulo {
    font-family: var(--font-2);
    font-size: 15px;
    color:var(--auxiliar-cor-1);
}



/*
    body {
      display: flex;
      /* margin-top: 10px; */
/*background-color: var(--body-color);
    }*/

#editar_agenda button {
    width: 80px;
    height: 25px;
    cursor: pointer;
    border: none;
    /* outline: none; */
    padding: 3px;
    border-radius: 21px;
    color: white;
    background-color:var(--auxiliar-cor-7);
    box-shadow: 2px 3px 5px #100e0e88;

}

#editar_agenda .cabecalho {
    padding: 10px;
    /* color: var(--header-color); */
    font-size: 20px;
    font-family: var(--font-1);
    display: flex;
    justify-content: space-between;
    color:var(--auxiliar-cor-1);
    padding-right: 60px;
}


#editar_agenda .container {
    width: 900px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

#editar_agenda #weekdays {
    width: 100%;
    display: flex;
    color: var(--principal-cor-3);
    gap: 11px;
}

#editar_agenda #weekdays div {
    width: 110px;
    padding: 10px;
    align-items: center;


}

#editar_agenda #calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    

}

#editar_agenda .day {
    width: 110px;
    padding: 15px;
    height: 90px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: var(--color-day);
    margin: 5px;
    box-shadow: 2px 2px 3px var(--box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15%;
}

#editar_agenda .domingo,
.terca,
.quarta,
.quinta,
.sexta,
.sabado {
    display: flex;
    background-color:var(--auxiliar-cor-7);
    width: 10px;
    height: 40px;
    justify-content: center;
    border-radius: 15px;
}

#editar_agenda .segunda {
    display: flex;
    background-color:var(--auxiliar-cor-7);
    width: 100%;
    height: 40px;
    justify-content: center;
    border-radius: 15px;
}






#editar_agenda #weekdays span {
    color: var(--grayscale-cor-4);

}


/*muda a cor quando passa o mouse em cima do dia do calendario*/
#editar_agenda .day:hover {
    background-color: var(--hover);
}

#editar_agenda .padding {
    cursor: default;
    background-color: var(--body-color);
    box-shadow: none;
}
#editar_agenda .event {
    font-size: 10px;
    padding: 3px;
    background-color: var(--event-color);
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
}
#editar_agenda .padding {
    cursor: default !important;
    background-color: var(--body-color) !important;
    box-shadow: none !important;
}
#editar_agenda #newEventModal, #deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: var(--auxiliar-cor-7);
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
}
#editar_agenda #eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
}
#editar_agenda #eventTitleInput.error {
    border: 2px solid red;
}
#editar_agenda #cancelButton, #deleteButton {
    background-color: var(--principal-cor-2);
}
#editar_agenda #saveButton, #closeButton {
    background-color: var(--principal-cor-2);
}
#editar_agenda #eventText {
    font-size: 14px;
}
#editar_agenda #modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
}