.conteudo{
    width: 80vw;
    background-color: #F3F3F3;
    padding: 40px 40px 40px 5vw;
    display: flex;
    flex-direction: column;
}

.conteudo h1{
    width: 800px;
    display: flex;
    justify-content: flex-start;
    font-size: 42px;
    font-family: var(--font-3);
    font-weight: bold;
    color: #545454;
}
.formulario span{
    font-family: var(--font-3);
    font-size: 20px;
    font-weight: 500;
    color: black;
    
}

.formulario{
    gap: 100px;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}


.lista_cadastrada ul  input::placeholder{
    font-family: var(--font-3);
    font-size: 14px;
    color: var(--grayscale-cor-1)
   
}

.lista_cadastrada ul select{
    height: 30px;
    border-radius: 8px;
    border: 2px solid var(--black-input);
    background-color: #f3f3f3;
    font-family: var(--font-3);
    font-size: 14px;
    color: var(--grayscale-cor-1);
    text-align: center;
}

.lista_cadastrada{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lista_cadastrada ul input{
    width: 35vw;
    height: 30px;
    border-radius: 8px;
    border: 2px solid var(--black-input);
}

.lista_cadastrada ul :nth-child(2){
    width: 150px;
}
.lista_cadastrada ul :nth-child(3){
    width: 200px;
    text-align: center;
}

.lista_cadastrada ul{
    gap: 5px;
    display: flex;
}

.id{
    display: flex;
    align-items: center;
}

.id img{
    width: 80px;
}

.id input{
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid var(--black-input);
}


.posicao{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.adicionar_trilhas .add_trilha input{
    width: 35vw;
    height: 30px;
    border-radius: 8px;
    border: 2px solid var(--black-input);
}

.posicao_trilha{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.adicionar_trilhas{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.posicao_buscar input{
    width: 25vw;
    height: 30px;
    border-radius: 8px;
    border: 2px solid var(--black-input);
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.posicao_buscar {
    display: flex;
    gap: 5px;
}

input::placeholder{
    color: var(--grayscale-cor-1);
    padding-left: 5px;
    font-size: 14px;
}

.btn{
    width: 130px;
    height: 35px;
    border-radius: 8px;
    font-family: var(--font-3);
    background-color: var(--principal-cor-3);
    color: #fbfbfb;
    font-size: 18px;
    font-weight: 500;
    border: none;
}

.posicao_button{
    padding-top: 40px;
}

@media screen and (max-width:1300px) {
    .conteudo h1{
        font-size: 30px;
        
    }
}

@media screen and (max-width:1000px) {
    .lista_cadastrada ul :nth-child(2){
        width: 120px;
    }
    .lista_cadastrada ul :nth-child(3){
        width: 170px;
        text-align: center;
    }

    .lista_cadastrada ul input{
        width: 25vw;
      
    }
}

@media screen and (max-width:700px) {
    .lista_cadastrada ul :nth-child(2){
        width: 65vw;
    }
    .lista_cadastrada ul :nth-child(3){
        width: 65vw;
        text-align: center;
    }

    .lista_cadastrada ul input{
        width: 65vw;
        display: flex;
        flex-wrap: wrap;
        
      
    }

    .lista_cadastrada ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .lista_cadastrada{
        gap: 20px;
    }

    .formulario{
        gap: 30px;
        padding-top: 0;
      
    }

    .conteudo h1{
        font-size: 18px;
        
    }

    .id img{
        width: 50px;
    }
    
    .id input{
        width: 80px; 
    }

    .id input::placeholder{
        font-size: 12px;
    }

    .posicao_buscar input{
        width: 35vw;
    }

    .adicionar_trilhas .add_trilha input{
        width: 45vw;
    }

    .formulario span{
        font-family: var(--font-3);
        font-size: 14px;
        font-weight: 500;
        color: black;
        
    }
}
