
#cadastro_conteudo .lista_itens .checkbox{

    display: flex;
    align-items: center;
    margin-bottom: 38px;
    gap: 30px;
}

#cadastro_conteudo .lista_itens input[type="checkbox"]{
    width: 52px;
    height: 48px;

    border: 4px solid black;
    border-radius: 8px;
    appearance: none;


    
}

#cadastro_conteudo .lista_itens input[type="checkbox"]:checked {

    cursor: pointer;
    background-image: url("./assets/images/check_FILL0_wght700_GRAD0_opsz40.png");
   
}


#cadastro_conteudo .conteudos .lista_itens{
    font-family: var(--font-2);
    font-size: 40px;
    color: #000;

    margin-top: 60px;
}

#cadastro_conteudo .check_manual{
    gap: 10px;
}
#cadastro_conteudo .cadastro_editar_conteudo{
  
    margin-left: 60px;
} 

#cadastro_conteudo .cadastro_editar_conteudo .titulo_pagina{
    
    color: #737373;
    font-family: var(--font-2);
    font-size: var(--title-h1-margin-page);
    margin-bottom: 60px;
    margin-top: 60px;
    /* width: calc(100vw - 20vw); */
    
}

#cadastro_conteudo .cadastro_editar_conteudo .elementos_cadastro{
   
    /* background-color: #5ABF4B; */
    display: flex;
    font-family: var(--font-2);
    font-size: 40px;
    color: #000;
    
    flex-direction: column;
    gap: 30px;
}

#cadastro_conteudo .cadastro_editar_conteudo .elementos_cadastro .caixa{
    width: 198px;
    height: 69px;
    
}

#cadastro_conteudo .cadastro_editar_conteudo .elementos_cadastro .input{
    
    border-radius: 10px;
    border: 1px solid var(--azul-esmeralda, #025E73);
    margin-left: 50px;
    width: 550px;
    height: 50px;
    
    
}
#cadastro_conteudo .cadastro_editar_conteudo .elementos_cadastro .meio{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#cadastro_conteudo .cadastro_editar_conteudo .elementos_cadastro .botoes{
    display: flex;
    justify-content: flex-start;
    gap: 200px;
    margin-left: 150px;

}

#cadastro_conteudo .cadastro_editar_conteudo .elementos_cadastro .editar{
    border: none;
    border-radius: 40px;
    background: #025E73;
    font-family: var(--font-2);
    color: #F2F2F2;
    height: 43px;
    text-align: center;
    width: 250px;
    
}

#cadastro_conteudo .cadastro_editar_conteudo .elementos_cadastro .cadastrar{
    border: none;
    border-radius: 40px;
    background: #025E73;
    font-family: var(--font-2);
    color: #F2F2F2;
    height: 43px;
    margin-left: -30px;
    text-align: center;
    width: 250px;
    
}





/********MEDIAS*********/


#cadastro_conteudo .posicao{
    display: flex;
    gap: 25px;
}

#cadastro_conteudo .imagens_conteudo{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 100vh;
    margin: 20px;
    gap: 30px;
    background-color: #F3F3F3;
}

#cadastro_conteudo .texto_dashboard{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 35px;
}

#cadastro_conteudo inputs{
    display: flex;
    gap: 30px;
}

#cadastro_conteudo .imagens{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

#cadastro_conteudo .imagens .primeiro_bloco{
    display: flex;
    gap: 25px;
    margin-left: 35px;

}

#cadastro_conteudo .imagens .primeiro_bloco img{
    width: 180px;
}

#cadastro_conteudo .bloco_meio img{
    width: 592px;
   
}

#cadastro_conteudo .bloco_meio{
    margin-left: 35px;
}

#cadastro_conteudo .imagens .terceiro_bloco{
    display: flex;
    gap: 25px;
    margin-left: 35px;
    
}

#cadastro_conteudo #conclusao{
    width: 360px;
    height: 145px;
}

#cadastro_conteudo .posicao_imagens{
    display: flex;
}

#cadastro_conteudo .bloco_lateral{
    display: flex;
    flex-direction: column;
    gap: 13px;
}

#cadastro_conteudo .imagem1{
    height: 364px;
}

#cadastro_conteudo h1{
    font-family: var(--font-2);
    color: #737373;
    font-size: 50px;
    
}

#cadastro_conteudo .input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#cadastro_conteudo .input input{
    width: 300px;
    height: 25px;
    border-radius: 25px;
    border: 1px solid var(--principal-cor-3);
    text-align: center;
}

#cadastro_conteudo .input input::placeholder{
    font-family: var(--font-2);
    color: var(--principal-cor-3);
}

#cadastro_conteudo .input label{
    font-family: var(--font-2);
    font-size: 15px;
}