

/* ASIDE */

#asideAdm {
    z-index: 1;
    display: flex;
    height: 100vh;
    width: 20vw;
    background-color: var(--principal-cor-3);
    left: 0px;
    position: relative;
    transition: all 0.5s ease;
    justify-content: center;

}

#asideAdm .posicionamento_elementos {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

#asideAdm .imagem_volks img {
    height: 101px;
    width: 95px;
}

#asideAdm .menu_barras {
    display: none;
}

#asideAdm .imagemfoto {
    height: 106px;
    width: 101px;
}

#asideAdm .config {
    width: 25px;
}

#asideAdm .menu_conteudo img {
    height: 20px;
}

#asideAdm .menu_conteudo li {
    list-style: none;

}

#asideAdm .menu_conteudo {
    display: flex;
    flex-direction: column;
    gap: 50px;
}


#asideAdm .menu_conteudo a {
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: var(--font-2);
    font-size: 16px;
    cursor: pointer;
}

#asideAdm .icon {
    height: 20px;
    width: 20px;
    fill: white;
}

#asideAdm .menu_conteudo li :hover {
    color: #090C40;
    transition: 0.6s;
    transform: scale(1.1);

}

#asideAdm .icon:hover {
    fill: #090C40;
    transition: 0.6s;
    transform: scale(1.1);
}



#asideAdm .menu_conteudo div {
    display: flex;
    width: 35px;
    justify-content: center;
    align-items: center;
}


#asideAdm .menu_conteudo ul li {
    margin-bottom: 10px;
}

#asideAdm .div_logofirst {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#asideAdm .saida {
    width: 25px;
}

#asideAdm .logo_first img {
    width: 115px;
}

#asideAdm .posicionamento_elementos2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 20px;
    align-items: center;
    gap: 10px;
}

#asideAdm .moldura_config {
    position: relative;
}

#asideAdm .moldura_config a {
    position: absolute;
    right: -10px;
    bottom: 0;
}

@media screen and (max-width: 1200px) {

    /*ASIDE*/

    #asideAdm{
        width: 100%;
        max-width: 250px;
    }
}

@media screen and (max-width:768px) {

    /*ASIDE*/


    #asideAdm .imagem_volks img {
        height: 85px;
        width: 70px;
    }

    #asideAdm .posicionamento_elementos2 {
        margin-bottom: 100px;

    }


    #asideAdm .moldura_config {
        width: 70px;


    }

    #asideAdm .config {
        width: 20px;
    }


    #asideAdm .menu_conteudo img {
        width: 20px;

    }

    #asideAdm .menu_conteudo span {
        font-size: 13px;

    }

    #asideAdm .menu_barras {
        display: flex;
        background-color: var(--principal-cor-3);
        padding: 7px;
        border-radius: 0 15px 15px 0;
        position: absolute;
        top: 20px;
        right: -40px;

    }

    #asideAdm .menu_barras img {
        width: 30px;
        height: 30px;
    }

    #asideAdm {
        position: absolute;
        width: 250px;

    }

    #asideAdm .posicionamento_elementos {
        width: 100%;
    }

    #asideAdm #sombra{
        height: 100vh;
        width: 100vw;
        background-color: #0000004f;
        position: fixed;
        top: 0;
        right: 110vw;
        overflow: hidden;
        transition: .5s;
        backdrop-filter: blur(10px);
        z-index: 1;
       
    }

   

}

    