@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --principal-cor-1: #090C40;
  --principal-cor-2: #048ABF;
  --principal-cor-3: #025E73;
  --principal-cor-4: #5ABF4B;
  --principal-cor-5: #F2B705;
  --principal-cor-6: #F5A26B;
  --auxiliar-cor-1: #474966;
  --auxiliar-cor-2: #46D3F3;
  --auxiliar-cor-3: #426B7F;
  --auxiliar-cor-4: #72A091;
  --auxiliar-cor-5: #E75A55;
  --auxiliar-cor-6: #F54B5D;
  --auxiliar-cor-7: #42816C;
  --grayscale-cor-1: #47485E;
  --grayscale-cor-2: #C5C7D0;
  --grayscale-cor-3: #f3f3f3;
  --grayscale-cor-4: #FCFCFC;
  --black-input: #131212;

  --font-1: 'Sigmar', cursive;
  --font-2: Verdana, sans-serif;
  --space-icon-aside: 12px;
  --title-h1-margin-page: 80px 0;
  --font-3: 'Poppins', sans-serif;

}

body{
  overflow: hidden;
}

main{
  display: flex;
  height: 100%;
}