

.swiper {
  width: 450px;
  height: 500px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}

.card_fusca {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 450px;
  height: 500px;
}

.texto_card {
  font-family: var(--font-2);
  font-size: 25px;
}

.texto_gol {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px
}

.texto_gol span {
  font-family: var(--font-2);
  font-size: 15px;
}


.texto_gol p {
  font-family: var(--font-2);
  font-size: 12px;
  line-height: 21px;
}

.botao_selecionar button {
  width: 150px;
  height: 30px;
  border-radius: 25px;
  border: 0 solid;
  background-color: #025E73;
  color: #FFFFFF;
  font-family: var(--font-2);
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}




.botao_selecionar {
  width: 150px;
  height: 30px;
  border-radius: 10px;
  border: 0 solid;
  background-color: #025E73;
  margin-bottom: 20px;
}

.botao_selecionar:hover{
  background-color: var(--principal-cor-4);
  transform: scale(1.1);
  transition: 0.6ms;
}

.imagem_gol img {
  width: 450px;
}

.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.titulo h2 {
  font-size: 35px;
  font-family: var(--font-2);
  color: #048ABF;
  justify-content: center;
  margin-bottom: 0;
  margin-top: 30px;

}

.titulo p {
  font-size: 15px;
  font-family: var(--font-2);
  width: 550px;
  text-align: center;
  line-height: 20px;
  margin-bottom: 10px;
  

}

